body{
  background-color: #010103;
      font-family: monospace;
  text-align:center;
}

h1, h3,h4{
  color: #9C95AD;
}

span{
  color: #ef5b5b
}

p{
  font-weight: bold;
  color: #9C95AD;
}

.point{
  display: flex;
  background-image: linear-gradient(to left bottom, #39256e, #36226a, #321f66, #2f1c62, #2c195e, #301452, #300f46, #2f0b3b, #2b0829, #23061a, #18030d, #000000);
  width: fit-content;
  border-radius: 20px;
  margin-left: auto;
   margin-right: auto;
}

.point>div{
  margin:25px;
}
