<!DOCTYPE html>
<html>

<head>
    <title>Count point riffle target</title>
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>

    <h1>Treatment result</h1>
    <p>total score : {{ Point }}</p>
    <p>number of impacts in the target : {{ Impact }}</p>
    <p>total number of impacts on the cardboard : {{ totalImpact }}</p>
    <img src="{{url_for('static', filename='resultat.png')}}" alt="Résultat">
    <a href="/download/resultat.png" download>Download the image</a>
</body>

</html>